html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,
kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;

}

@font-face {
	font-family: 'OpenSans-SemiBold'; 
	src: url(OpenSans-SemiBold.ttf); 
}
@font-face {
	font-family: 'OpenSans-Regular'; 
	src: url(OpenSans-Regular.ttf); 
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block
	}


ol,ul{
	list-style:none
	}

	
blockquote,q{
	quotes:none
	}

blockquote:before,blockquote:after,q:before,q:after{
	content:'';content:none
	}

table{
	border-collapse:collapse;border-spacing:0
	}
	
td{
	vertical-align: middle;
}
	
html {
  height: 100%;
  background-color: var(--color-255);
}

body {
	line-height:1.2;
	height: 100%;
	margin: 0 auto;
	background-color: var(--color-255);
    font-family: 'OpenSans-Regular','Roboto', sans-serif;
	color: var(--color-s5);
	overflow: auto;
}
hr{
	border-width: 0.5px;
	color: var(--color-s2);	
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

/***************************************************/
/*main{
	width: 1200px;
	margin: 0 auto;
}*/

.header_arm_name{
	color: var(--color-255);
	padding: 9px;
}
.hList{
	display: flex;
}
.gray-header-line{
	height: 9px;
	background-color: var(--color-s1);
}
.main_nav_top{
	/*background-color: var(--color-1);*/
	display: flex;
	font-family: 'OpenSans-SemiBold','Roboto', sans-serif;	font-family: 'OpenSans-SemiBold','Roboto', sans-serif;
	padding-top: 10px;
}

.container{
	width: 1200px;
	margin: 0 auto;	
}
.main_wrapper {
	
    position: relative;
    min-height: 100%;
    padding-bottom: 90px;
	padding-top: 117px;
}
.head_of_page{
	/*background-color: var(--color-1);*/
	background: radial-gradient(var(--color-1),var(--color-4));
	color: var(--color-255);
	text-align: center;
	display: flex;
	justify-content: space-between;

}

.head_of_page h1{
	font-size: 16px;
margin-top: 6px;
}
.naim_org{
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.header-left{
	padding-bottom: 5px;
}
.header-right{
	padding-top: 10px;
	padding-right: 7px;
	box-sizing: border-box;
}
.header-left, .header-right{
	width: 190px;
}

.emblem_gegn, .gerb_rb{
	
	background-repeat: none;
	width: 73px;
	height: 73px;
}
.emblem_gegn{	
	background-image: url(/ARM/images/emblem_gegn.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}

.menu {
  display: block;
  position: relative;
  cursor: pointer;
  font-family: 'OpenSans-SemiBold','Roboto', sans-serif;
}

.menu-title {
  font-size: 15px;
  display: block;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: var(--color-menu-title1-1);
  text-align: center;
  color: var(--color-255);
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.menu-title:before {
	
  content: "";
  display: block;
  height: 0;
  border-top: 8px solid var(--color-menu-title1-1);
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  border-bottom: 0 solid var(--color-s1);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 7;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu-title:hover {
	
  background: var(--color-menu-title1-2);
  border-top: 0px solid var(--color-menu-title1-1);

}

.menu-title:hover:before {
	
  border-top-color: var(--color-menu-title1-2);
  border-top: 0px solid var(--color-menu-title1-2);
}

.menu:hover > .menu-title:before {
	/*border-top-color: yellow;*/
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
	  
  content: "";
  display: block;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid var(--color-s1);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 7;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {

 /* border-bottom-width: 8px;*/
  border-bottom: 6px solid var(--color-s1);
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
  background: var(--color-menu-title2-1);
}
.menu-title_2nd:hover {
  background: var(--color-menu-title2-2);
}
.menu-title_2nd:before {
  border-top-color: var(--color-menu-title2-1);
}
.menu-title_2nd:hover:before {
  border-top-color: var(--color-menu-title2-2);
}

.menu-title_3rd {
  background: var(--color-menu-title1-1);
}
.menu-title_3rd:hover {
  background: var(--color-menu-title1-2);
}
.menu-title_3rd:before {
  border-top-color: var(--color-menu-title1-1);
}
.menu-title_3rd:hover:before {
  border-top-color: var(--color-menu-title1-2);
}

.menu-dropdown {
	
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: var(--color-s1);
  z-index: 5;
  transition: 0.5s padding, 0.5s background;
  text-align: left;
  color: var(--color-s5);
}

.menu-dropdown:after { 
  content: "";
  display: block;
  height: 0;
  border-top: 8px solid var(--color-s1);
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 6;
  transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
	
  padding: 4px 0;
  background: var(--color-s1);
  z-index: 5;
}
.two_column{
	display: table-column!important;
	/*margin-left: -250px;*/
	column-count: 2;
}
.menu:not(:hover) > .menu-dropdown:after {
	
  border-top-color: var(--color-s1);
}

.menu:not(:hover) > .menu-title:after {
	
  border-bottom-color: var(--color-s1);
}

.menu-dropdown > * {
	
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: transparent;
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.menu-dropdown > *:hover {
	
  background: rgba(0, 0, 0, 0.1);
}
.logout{
	margin-top: 10px;
}

.menu:not(:hover) > .menu-dropdown > * {
	
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
  z-index: 99;
}


.hList > * + * {
	
  margin-left: 0;
}




/*********************************************/
.top_of_page{
	margin-top: 25px;
	margin-bottom: 10px;
}

.page_title h3{
	font-size: 18px;
	color: var(--color-1);
	margin-top: 15px;
	margin-bottom: 15px;
}
.page_title h3 a{
	font-size: 18px;
	color: var(--color-1);
}
.page_title h3 a:hover{
	color: var(--color-2);
	cursor: help;
}
.page_title h5{
	font-size: 20px;
	color: var(--color-2);
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}
.page_title .h5info{
	font-size: 20px;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	background-color: var(--color-button-flag);
	padding-bottom: 10px;
	padding-top: 10px;
}
.page_title_footer{
	display:none;
}
.page_title_footer .h5info_footer{
	font-size: 20px;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	background-color: var(--color-button-flag);
	padding-bottom: 10px;
	padding-top: 10px;
}
.page_title h5 a{
	font-size: 20px;
	color: var(--color-2);
}
.page_title h5 a:hover{
	color: var(--color-2);
	font-weight: bold;
}

.base_part h3{
	font-size: 15px;
	color: var(--color-1);
	margin-top: 5px;
}
.base_part h5{
	font-size: 17px;
	color: var(--color-2);
	font-weight: bold;
	margin-top: 5px;
}
.total_check{
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	color: var(--color-1);
	margin-top: 5px;
	margin-bottom: 5px;
}

.enter_r{
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	color: var(--color-1);
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 700px
}
.base_part{
	padding-top: 15px;
}
.nav_buttons{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.nav_buttons a:hover{
	color: var(--color-button-text-hover);
}
.nav_block{
	position: relative;
}
/*****************************************************/
#renameUnp{
	display: none;
	position: absolute;
	background-color: var(--color-255);
	z-index: 2;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border: 1px solid var(--color-s4);
	padding: 13px;
	right: 20px;
	top: -55px;
}
/*
#renameUnp p{
	line-height: 1.5;
}*/
/*************Ситли основных таблиц*******************/
/*для основных таблиц применять класс .main_table */
.main_table{
	width: 100%;
	font-size: 14px;
    color: var(--color-0);
    width: 100%;
   /* border-width: 1px;*/
    border-collapse: collapse;
    overflow: scroll;
}
.sbj_podr{
	font-size: 13px;
	color: var(--color-s5);
	padding-top: 4px;
}
.table{
	width: 100%;
	font-size: 14px;
    color: var(--color-0);
    width: 100%;
   /* border-width: 1px;*/
    border-collapse: collapse;
    overflow: scroll;
}
.case_number{
	width: 85px;
}
.main_table thead tr, .table thead tr{
	height: 24px;
	vertical-align: middle;
}
.main_table tr:nth-child(odd) {
    background-color: var(--color-s0);
}

.main_table tr td, .table tr td{
	/*margin-top:6px;*/
	padding-bottom:6px;
	vertical-align: middle;
	/*border: 1px solid var(--color-s1);*/
}
.main_table tr:hover, .cwdtable tr:hover{
	background-color: var(--color-button-bg-0);
}

.table tr:hover{
	background-color: var(--color-s1);
}
.last tr:last-child{
	color: var(--color-1);
	text-align: center;
	border-top: 2px solid var(--color-1);
	background-color: var(--color-255);
	/*	font-weight:  bolder;*/
}
.button-remove {
    background: transparent;
    color: var(--color-button-remove);
    border: 0;
    cursor: pointer;
	margin-left: 2px;
}
.button-operations{
	background: transparent;
	color: var(--color-button-operations);
	border: 0;
	cursor: pointer;
	margin-left: 2px;
}
.button-envelope{
	background: transparent;
	color: var(--color-button-edit);
	border: 0;
	cursor: pointer;
	margin-left: 2px;
}
.no-delete{
	color: var(--color-button-no-delete);
}

.button-edit {
    background: transparent;
    color: var(--color-button-edit);
    border: 0;
    cursor: pointer;
	margin-left: 2px;
}
.no-edit{
	color: var(--color-button-no-edit);
	cursor: not-allowed;
	pointer-events: none;
}
.no-edit button{
	color: var(--color-button-no-edit);
	cursor: not-allowed;
	pointer-events: none;
}
.grid {
    background: transparent;
    color: #45161c;
    border: 0;
    cursor: pointer;
}
.button-list {
    background: transparent;
    border: 0;
    cursor: pointer;
	margin-left: 10px;
	margin-right: 20px;	
	padding: 2px;
	border-left: 12px solid var(--color-2);
	border-radius: 5px;
	min-width: 70px;
	background-color: var(--color-button-bg);
	color: var(--color-255);	
	
}
.button-list:hover {
	border-left: 12px solid var(--color-button-flag);
	color: var(--color-2);
}
/*.button-remove i, .button-edit i, .button-list i{
    line-height: 28px;
}*/
.main_table th{
	background: var(--color-s2);
	vertical-align: middle;
}

.main_table i:hover{
	/*font-weight: bold;*/
}
.mobileTable{
	overflow: scroll;
	min-height: 150px;
	max-height: 1000px;
	margin-bottom: 20px;
}
.cwdtable {
    font-size: 14px;
    color: var(--color-0);
    width: 100%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
    overflow: scroll;
}
.main_table th,
.cwdtable th {
    font-size: 14px;
    background: var(--color-1);
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: var(--color-1);
    color: var(--color-255);
    text-align: center;
}
.main_table td,
.cwdtable td{
    font-size: 14px;
    /*border-width: 1px;*/
    padding: 8px;
    /*border-style: solid;
    border-color: var(--color-1);*/
    cursor: pointer;
}
/*.main_table tr td:last-child{
	max-width: 160px;
}
*/
/*********************************************/
footer {
    height: 40px;
    margin-top: -40px;
	padding-top: 12px;
	background: radial-gradient(var(--color-1),var(--color-3));
    /*background-color: var(--color-4);*/
	font-size: 12px;
    color: var(--color-255);
    text-align: center;
}
.nav-link {
	display: block;
}
.nav-link a{
	color:#142839;
}

.main_nav_left {
	font-family: 'OpenSans-Regular','Roboto', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  background: var(--color-menu-nav-left1);
  display: inline-block;
  height: calc(100% - 167px);
  position: absolute;

}
.main_nav_left li {
  cursor: pointer;
  border-top: 1px solid  var(--color-menu-nav-left1);
  border-bottom: 1px solid var(--color-menu-nav-left1);
  margin-bottom: -1px;
  width: 40px;
  height: 60px;
  line-height: 60px;
  font-size: 15px;
  color: var(--color-255);
}
.main_nav_left a {
  text-decoration: none;	
  color: var(--color-255);
}
.main_nav_left li div,
.main_nav_left li i{
  position: absolute;
  text-align: center;
  animation-duration: 0.34s;
}
.main_nav_left li div {
	font-family: 'OpenSans-Regular','Roboto', sans-serif;
	margin-left: 10px;
	text-align: center;
	width: 200px;
	display: none;
	z-index: 1;
	background: var(--color-menu-nav-left2);
}
.main_nav_left li i {
  line-height: 59px;
  width: 40px;
  z-index: 9;
  background: var(--color-menu-nav-left1);
}


.main_nav_left li:hover a > i > div {
  display: inline-block;
}
.main_nav_left li:hover i {
  background: var(--color-menu-nav-left2);
}
/***************************************************/
#search_request, #search_request_modal {
    position: relative;
}
.search-request, .search-request_modal{

	display: block;
	/*justify-content: center;*/
	position: relative;
	padding-top: 7px;
	padding-bottom: 25px;
}
.field_search, .field_searchCard {
	display: block;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 8px;
    background-position-y: 5px;
    font-size: 12pt;
    height: 38px;
	position: relative;
	padding-left: 40px;
	margin: 0px auto;
	border: 2px solid var(--color-1);
	border-radius: 13px;
	width: 570px;}
.field_search{
    
}
.field_searchCard form-control{
	width: 100%;
}
.clear_field {
    display: none;
    position: absolute;
	top: 7px;
	right: 322px;
    border: none;
    background: transparent;
    font-size: 25px;
    color: var(--color-s4);
}
.check_unp{
	position: relative;
	width: 600px;
}
#pre-result, #pre-result_unp, #pre-resultSource, #pre-result_ind_pers{
    display: none;
    position: absolute;
	top: 45px;
	left: 314px;
    list-style: none;
        list-style-position: outside;
    z-index: 2;
    border: 1px solid var(--color-1);
    border-radius: 13px;
    width: 570px;
    list-style-position: inside;
    padding-left: 11px;
    margin-left: auto;
    margin-right: auto;
	background-color: var(--color-255);
	cursor: pointer;
	max-height: 450px;
	overflow-y: auto;
}
#pre-result_unp{
	left: 0px;
}
.check_unp #pre-result{
	top: 30px;
	left: 1px;
	width: 152px;
}

.search_request_modal #pre-resultSource{
	top: 58px;
	left: 335px;
	width: 569px;
}


#pre-result li, #pre-result_unp li,#pre-resultSource li, #pre-result_ind_pers li{
	padding-top: 6px;
	padding-bottom: 6px;
}

#pre-result li:hover, #pre-result li.active, #pre-resultSource li:hover, #pre-resultSource li.active,#pre-result_ind_pers li:hover, #pre-result_ind_pers li.active,#pre-result_unp li:hover, #pre-result_unp li.active {
    background-color: #eadfdf;
    border-radius: 13px;

}
.search_result_item{
	border: 1px solid var(--color-s2);
	margin-top: 13px;
	margin-bottom: 13px;
	padding: 7px;
}
.btn-primary-ob{
color: var(--color-255);
background-color: var(--color-1);
border-color: var(--color-1);
margin-right: 30px;
cursor: pointer;
padding: 7px;
margin-top: 5px;
display: inline-block;
}
#messenger{
width: 825px;
border: gray dashed 1px;
padding: 5px;
background: #FFEDED;
color: #7F5354;
display: none;
text-align: center;
margin: auto;
margin-top: 15px;
margin-bottom: 15px;
}
.formTextRed{
	color: red;
}
.result_html::before {
	display: inline-block;
	width: 14px;
	height: 102%;
	background-color: var(--color-1);
	content: '';
	position: absolute;
	left: -10px;
	top: -2px;
}
.pers_second::before {
	display: inline-block;
	width: 14px;
	height: 102%;
	background-color: var(--color-2);
	content: '';
	position: absolute;
	left: -10px;
	top: -1px;
}
.result_html {
    padding-bottom: 13px;
    display: block;
    position: relative;
    border-bottom: 1px solid var(--color-1);
    border-top: 1px solid var(--color-1);
    border-right: 1px solid var(--color-1);
	padding:6px 6px 10px 20px;
    margin-bottom: 18px;
	line-height: 1.2;
}
.result_html p{
	cursor: pointer;
}

.search-request_rp #pre-result{
	left: 1px;
}

/**********Модальное окно основные стили**************/
.modalDialog, .modalDialogSubjectInfo, .modalDialogUnpInfo, .modalDialogObjectsInfo, .modalDialogRespPersInfo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-255);
    z-index: 9999;
    width: 1235px;
    height: 65%;
    margin: 5% auto;
    display: none;
	overflow-y: auto;
	border: 1px var(--color-s4) solid;
	box-shadow: 5px 4px 6px var(--color-s5);
}
.modalDialog .clear_field, .modalDialogSubjectInfo .clear_field, .modalDialogUnpInfo .clear_field{
	top: 58px;
	right: 341px;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
}
.overlay{
    z-index: 11;
    position: fixed;
    background-color: var(--color-s4);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.search_request_modal{
	width: 60%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.search_request_modal #pre-result, .search_request_modal #pre-result_ind_pers, .search_request_modal #pre-result_unp{
	top: 95px;
	left: 332px;
}
.search_request_modal #pre-result_ind_pers{
	top: 85px;
	left: 332px;
}
.search_request_modal_answer{
	width: 95%;
	align-content: top;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.modalDialog #search_result, .modalDialog #search_result_ind_pers,.modalDialog #search_result_unp,{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.modalDialog #pre-result_ind_pers{
	width: 46%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.modalDialog .result_html:hover{
	border: 2px solid var(--color-1);
}
.modal_title{
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	margin: 20px;
	color: var(--color-1);
}
.search-request_rp .clear_field{
	right: 2px;
}
/************************/
.btn_eye{
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-image: url(/ARM/admin/Assets/image/eye.png);
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 48px 10px 25px;
	margin-top: 0px;
	display: inline-block;
	background-size: 30px;
	position: absolute;
	right: 205px;
	top: 54px;
}
.btn_new_object{
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-image: url(/ARM/admin/Assets/image/add.jpg);
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 48px 10px 25px;
	margin-top: 0px;
	display: inline-block;
	background-size: 30px;
	position: absolute;
	right: 205px;
	top: 54px;
}
.btn_new{
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-image: url(/ARM/admin/Assets/image/add.jpg);
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	padding: 0;
	margin-top: 2px;
	margin-left: 5px;
	display: block;
	background-size: 30px;
	right: 10px;
	outline: none;
}
.add_button{
	font-size: 13px;
	
}
.search_table {
    display: inline-block;
    margin-bottom: 10px;
}
.search_table input{
    padding: 5px;
	height: 30px;
    width: 300px;
	font-size: 12pt;
    border: 1px solid var(--color-s2);
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background: var(--color-255) url('bg.jpg') left top repeat-x;
    background-image: url(/ARM/admin/Assets/image/search.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 268px;
    background-position-y: 4px;
}

.zag{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 25px;
}
.flex{
	display: flex;
}
.filter_block select{
	margin-right: 3px;
}
.formError{
 border: 1px solid red !important;
}

.formError2{
  color: red;
}
.p_info{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin: 20px;
	color:var(--color-1);
}
.div_info, .div_info_insp{
	display:flex;
	padding: 5px;
}

.sticky {
    position: sticky;
    top: 0;
	z-index: 1;
}
.label_info{
	font-weight: bold;
	margin-right: 20px;
	margin-left: 5px;
}
.fieldset_info{
	background: var(--color-s1);
	padding: 10px;
	border: solid 1px black;
	border-radius: 10px;
	margin-bottom: 15px;
}
.main_div_info{
	padding: 15px;
	
}
.div_info_insp{
	margin-left: 150px;
}

.button_unp, .button_spr {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
  padding-top: 0px;
  padding-left: 37px;
  position: relative;
  background-color:var(--color-button-bg);
  color:var(--color-255);
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  
}

.button_spr{
	height: 35px;
}
.no-new{
	background-color: var(--color-button-bg-dis));
}
a.disabled{
	pointer-events: none;
	background-color: var(--color-button-bg-dis);
}
.button_filter{
	font-family: 'OpenSans-Regular','Roboto', sans-serif;
	display: inline-block;
	margin-right: 10px;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 20px;
	padding-left: 37px;
	position: relative;
	background-color: var(--color-button-bg);
	color:var(--color-255);
	text-decoration: none;
	border-radius: 5px;
	border: none;
	height: 30px;
	vertical-align: top;
	font-size: 15px;
	cursor: pointer;
}
.button_unp span, .button_spr span  {
	position: absolute;
	left: 0;
	top: 0px;
	width: 30px;
	background-color:rgba(0,0,0,0.5);
	text-align:center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid  rgba(0,0,0,0.15);
	

}
.button_filter span{
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	background-color:rgba(0,0,0,0.5);
	text-align:center;
	border-radius: 5px;
	
}
.button_unp:hover span, .button_filter:hover span{
  background-color: var(--color-button-flag);
  color:var(--color-255);

}
.button_unp:hover, .button_spr:hover, a>.button_filter:hover, .button_filter:hover{
	color: var(--color-button-text-hover);
}
.button_unp:active, .button_spr:active, a>.button_filter:active, .button_filter:active{
	color: var(--color-button-text-hover);
	background-color:var(--color-button-bg);
}

.form-controls{
	padding: 5px;
	margin-right: 5px;
	border: 1px solid var(--color-1);
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	max-width: 850px;
	min-width: 200px;
}
.form-small{
	min-width: 50px;
	width: 80px;	
}	
.modal {
	width: 50%;
}
.form-group{
padding-bottom:10px;
/*width: 1200px;*/
}

.block{
    float:left; 
	padding-left: 5px;
		/*border: 1px solid var(--color-1)*/
}
.w0		{width:0px;	min-width:0px;}			.w0-1	{width:10px;	min-width:10px;}	.w0-2	{width:20px;	min-width:20px;}	.w0-3	{width:30px;	min-width:30px;}	.w0-4	{width:40px;	min-width:40px;}
.w0-5	{width:50px;	min-width:50px;}	.w0-6	{width:60px;	min-width:60px;}	.w0-7	{width:70px;	min-width:70px;}	.w0-8	{width:80px;	min-width:80px;}	.w0-9	{width:90px;	min-width:90px;}
.w1		{width:100px;	min-width:100px;}	.w1-1	{width:110px;	min-width:110px;}	.w1-2	{width:120px;	min-width:120px;}	.w1-3	{width:130px;	min-width:130px;}	.w1-4	{width:140px;	min-width:140px;}
.w1-5	{width:150px;	min-width:150px;}
.w2		{width:200px;	min-width:200px;}																						
.w2-5	{width:250px;	min-width:250px;}
.w3		{width:300px;	min-width:300px;}
.w3-5	{width:350px;	min-width:350px;}
.w4		{width:400px;	min-width:400px;}
.w5		{width:500px;	min-width:500px;}
.w6		{width:600px;	min-width:600px;}
.w7		{width:700px;	min-width:700px;}
.w7-5	{width:750px;	min-width:750px;}
.w8		{width:800px;	min-width:800px;}
.w9		{width:900px;	min-width:900px;}
.w10	{width:1000px;	min-width:1000px;}
.w11	{width:1100px;	min-width:1100px;}

.vert_p2 {margin-top: 2px;}
.vert_p5 {margin-top: 5px;}
.vert_m3 {margin-top: -3px;}
.vert_m6 {margin-top: -6px;}

.absolute_r {
	position: absolute; 
	right: 0;
}
.label-control, .label_subject{
	margin-top: 5px;
	margin-right: 10px;
}
.label_enter{
	color: var(--color-255);
	/*font-size: 12px;*/
	text-align: center;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background: var(--color-button-bg);
	border: 1px solid var(--color-s5);
	border-radius: 5px;
	min-width: 60px;
	min-height: 24px;
}
.form input:hover, .form textarea:hover, .form select:hover, .search input:hover,
.form input:focus, .form textarea:focus, .form select:focus, .search input:focus{
 border-color: var(--color-s2);
 box-shadow: 0 0 10px rgba(120, 32, 6, 0.5);
 -moz-box-shadow: 0 0 10px rgba(120, 32, 6, 0.5);
 -webkit-box-shadow: 0 0 10px rgba(120, 32, 6, 0.5);
}
.form input:disabled, .form textarea:disabled, .form select:disabled, .search input:disabled{
	border-color:var(--color-s2);
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
}
.btn-primary, .submit_cancel{
width: 148px;
background: var(--color-2);
color: var(--color-255);
padding: 9px 8px;
border: 0;
font-size: 19px;
cursor: pointer;
border-radius: 8px;
}
.unp_bttn_prsn{
padding: 9px 8px;
}
.btn-primary:hover{
 background: var(--color-button-bg);
}
.card_href{
	color: var(--color-button-bg);
}
.card_href:hover{
	color: var(--color-2);
	cursor: pointer;
}
.name_unp. .name_potr{
	width:600px;
}
.check_unp_link{
	text-align: right;
}
.check_unp_link a{
	font-size: 15px;
	color: var(--color-2);
	font-weight: bold;
}
.check_unp_link a:hover{
	font-size: 15px;
	color: #1560bd;
	font-weight: bold;
}
.checkUnp_info{
	color: var(--color-1);
	margin-top: 0px;
	padding-left: 0px;
	font-size: 11px;
	line-height:1.5;
}
.checkUnp_ok{
	color: var(--color-icon-ban);
	margin-top: 0px;
	padding-left: 0px;
	font-size: 13px;
	line-height:1.5;
	font-weight: bold;
}
.checkUnp_error{
	color: var(--color-icon-check);
	margin-top: 0px;
	padding-left: 0px;	
	font-size: 13px;
	line-height:1.5;
	font-weight: bold;
}
.form{
	position: relative;
}
.unp_right_part{
	
	/*position: absolute;*/
	top: 100px;
	right: -45px;
	width: 500px;
}
.unp_right_part p{
	display: none;
	margin-bottom: 10px;
	font-size: 14px;
}
.unp_right_part button,
#portal_id_spr_region,
#portal_address_street,
#portal_address_building,
#portal_address_flat,
#portal_address_cod_city,
#portal_address_id_spr_district
{
	display: none;
}

.guides_operations{
	width: 5%;
}
.mobileTable_guides{
	overflow: scroll;
	min-height: 150px;
	max-height: 650px;
	margin-bottom: 20px;
}
/*** стили фильтра****/
#main_block_filter{
	display: none;
}
#main_block_filter{
	border: 1px solid var(--color-s4);
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	position: absolute;
	z-index: 10;
	background-color: var(--color-255);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	top: -42px;
}
#close_filter, #close_calc{
	position: absolute;
	right: 3px;
	top:3px; 
}
.base_part_filter{
	padding-top: 10px;
	padding-bottom: 10px;
}
/*** END OF стили фильтра****/
#messenger_modal, #messenger_modal_tp,#messenger_modal_sar,#messenger_modal_accidents,#messenger_modal_obsl,#messenger_modal_device,#messenger_modal_water,#messenger_modal_vapor,#messenger_modal_klvl,#messenger_modal_trp,#messenger_modal_avr, #messenger_modal_aie, #messenger_modal_block, #messenger_modal_vvd, #messenger_modal_ek, #messenger_modal_ku, #messenger_modal_prit_vent, #messenger_modal_teploobmennik_gvs, #messenger_modal_teploobmennik_so, #messenger_modal_heatnet, #messenger_modal_heatnet_t, #messenger_modal_q_tep, #messenger_modal_q_e, #messenger_modal_teploobmennik_kot, #messenger_modal_subj_dog, #messenger_modal_otv_sob, #messenger_modal_otv_st, #messenger_modal_otv_instr, #messenger_modal_otv_sob_t, #messenger_modal_otv_st_t, #messenger_modal_otv_instr_t, #messenger_modal_otv_sob_g, #messenger_modal_otv_st_g, #messenger_modal_otv_instr_g{
	color: red;
	font-size: 12px;
	margin-bottom: 20px;
	margin-left: 135px;
}
.block_obj{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	border: 1px solid var(--color-s1);
	margin-top: 7px;
	position: relative;
	background: var(--color-s3);
	display:none;
}
.block_obj a{
	display:block;
}
.open_block_obj{
	text-align: center;
}
.block_obj p{
	font-size: 13px;
	/*display: none;*/
	padding-bottom: 6px;
}
#pagination li{
	display: inline-block;
	margin-right: 6px;

}
#pagination li:hover{
	cursor: pointer;
}
.active_page{
	color: var(--color-1);
	text-decoration: underline;
}
#num_items_on_page{
	width: 50px;
}
.sbj_list{
	line-height: 2;
}
.list-name-otv{
	width: 92%;
}
.icon-eye{
	color:var(--color-button-eye); /* orange Красно-буро-оранжевый*/
}
.icon-eyeoff{
	color: var(--color-1); /* orange Красно-буро-оранжевый  темный*/
}

/* классы по параметрам единичным шрифта*/
.font-bold{
	font-weight: bold;
}
.font-size-15{
	font-size: 15px;
}
.font-size-13{
	font-size: 13px;
}
.font-size-12{
	font-size: 12px;
}
.font-size-11{
	font-size: 11px;
	line-height: 0.9;
}
/*****************************************/
.ind_pers_search{
	font-weight: bold;
	padding-bottom: 10px;
}
.ind_pers_search_p{
	padding-bottom: 10px;
}
input[name="name_potr"]:disabled {
  background: var(--color-s1);
}


#masthead{
  z-index: 10;
  position: fixed;
  width: 100%;
  transition: $transition-long;
  top: 0;
 }
#masthead_left{
	height: calc(100% - 157px);
	display: block;
	width: 40px;
	position: absolute;
	background-color: var(--color-2);
} 
 
 #masthead.scrolled{
  height: 65px;
  .naim_org
    opacity: 0;
    transform: translateY(-67px);
}
.logo_units{
	position:fixed;
	left:70px;
	top: 150px;
	font-size: 100px;
	opacity: 0.3;
	color: var(--color-2);
}
.logo_units p{
	font-size:15px;
	text-align: center;	
}
@media (max-width:1595px){
.logo_units{display:none;} }

.menu_quides_line{
	font-size: 11px;
	font-style: italic;
	width: auto;
	text-align: center;
}

textarea {
	height: 50px;
    width: 500px;
}


.display_none{
	display: none;
}
/********************/
.info_block{
	background: var(--color-s0);
	padding: 20px;
	border: solid 1px black;
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
	display: none;
	top: 50%;
	left: 50%;
	margin-top: -100px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	position: fixed;
	min-width: 500px;
	min-height: 200px;
	max-width: 650px;
	max-height: 400px;
	z-index: 12;
}
.info_block p{
	padding: 6px;
}
#first_obj{
	color: #000;
	text-decoration: underline;
}
#new_sbj_name{
	font-weight: bold;	
}
#first_obj:hover{
	font-weight: bold;
}
/********************/


.rp1:after{content:" РП";} 	.rp2:after{content:" рег.П";} 	.rp3:after{content:" рег.потр.";}

.rp-i-o:after{content:" региональный потребитель";}		.rp-i-m:after{content:" региональные потребители";}
.rp-r-o:after{content:" регионального потребителя";}	.rp-r-m:after{content:" региональных потребителей";}
.rp-d-o:after{content:" региональному потребителю";}	.rp-d-m:after{content:" региональным потребителям";}
.rp-v-o:after{content:" регионального потребителя";}	.rp-v-m:after{content:" региональных потребителей";}
.rp-t-o:after{content:" региональным потребителем";}	.rp-t-m:after{content:" региональными потребителями";}
.rp-p-o:after{content:" региональном потребителе";}		.rp-p-m:after{content:" региональных потребителях";}

.rp-i-os:after{content:" р.потребитель";}			.rp-i-ms:after{content:" р.потребители";}
.rp-r-os:after{content:" р.потребителя";}			.rp-r-ms:after{content:" р.потребителей";}
.rp-d-os:after{content:" р.потребителю";}			.rp-d-ms:after{content:" р.потребителям";}
.rp-v-os:after{content:" р.потребителя";}			.rp-v-ms:after{content:" р.потребителей";}
.rp-t-os:after{content:" р.потребителем";}			.rp-t-ms:after{content:" р.потребителями";}
.rp-p-os:after{content:" р.потребителе";}			.rp-p-ms:after{content:" р.потребителях";}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sticky_half {
  /*width: 50%;
  min-height: 800px;
  border: 10px solid #000;*/
}
.sticky_body {
  /*padding: 60px;*/
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  border-bottom: 2px solid var(--color-255);
  min-height: 2em;
  background: var(--color-255);
  z-index: 1;
}
@media (max-width:1480px){
	
	.menu-title{
		width: 128px;
		height: 27px;
		padding: 8px 0 0;
	}
	.menu-title,.head_of_page,.header-right,.logout,.naim_org{
		font-size: 12px;
	}
	.logout {
		margin-top: 20px;
	}
	.menu-title:after,.menu-dropdown:after {
		border-left: 64px solid transparent;
		border-right: 64px solid transparent;
	}	
	.nav-link {
		margin-top: 3px;
	}
	#masthead_left,.main_nav_left li i,.main_nav_left li{	
		width: 30px;
		line-height: 49px;
		/*font-size: 12px;*/
	}	
	.main_nav_left li div {
		margin-left: 7px;
		width: 170px;
	}	
	.sticky_body {
		top: 39px;
	}
	
}
@media (min-width:1481px){
	.menu-title:before {
		border-left: 75px solid transparent;
		border-right: 75px solid transparent;
	}
}
/*******************************ПРЕЛОАДЕР*****************************************/
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: var(--color-s2);
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: var(--color-1);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
.OnOff{
}

/*************************************************************************/