:root {		/*								ПЕРСОНА
				burgundy 	#782006;		официальный бордовый 
				blue		#394E89;		официальный синий
				gold		#D9D08F;		официальный золотой
				gold2		#AC9E3F;		официальный золотой темный
				var(--color-7)											*/
	
	--color-0:	#000000;					/*черный*/
	--color-1: 	#274F42;   					/*зеленый темно-аспидный*/
	--color-2: 	#2E274F;					/*синий*/
	--color-3:	#013220;					/*зеленый темно-аспидный +темнее цвет кнопок hover*/
	--color-4:	#011a11;					/*зеленый темно-аспидный ++темнее цвет рамки кнопок hover*/
	--color-5: 	#3d7c68;					/*зеленый темно-аспидный -светлее*/
	--color-6: 	#6bb69e;					/*зеленый темно-аспидный ---светлее*/
	--color-7: 	#FF0000;					/*RED*/
	--color-255:#ffffff;					/*белый*/
	
	--color-s0:	#f7f7f7;					/*серый еле-еле*/
	--color-s1:	#dddddd;					/*серый*/
	--color-s2:	#C9C9C9;					/*серый темнее*/
	--color-s3:	#b1b1b1;					/*серый ++темнее*/	
	--color-s4:	#8e8e8e;					/*серый ++темнее*/
	--color-s5:	#555555;					/*серый ++темнее*/	
 
	--color-button-flag: 		#de710d;	/*медный насыщеней*/
	--color-button-text-hover:	#011a11; 	/*зеленый темно-аспидный ++темнее*/
	--color-button-bg: 			#3d7c68;	/*зеленый темно-аспидный -светлее*/
	--color-button-bg-dis: 		#9bcebe;	/*зеленый темно-аспидный ---светлее */
	--color-button-remove: 		#e4000f;	/*красный ярче*/
	--color-button-no-delete: 	#ffbec2;	/*красный еле-еле*/	
	--color-button-operations:	#782006;   	/*официальный бордовый*/
	--color-icon-check:			#008000;   	/*зеленый GREEN*/
	--color-icon-ban:			#1560bd; 	/* Джинсовый синий */
	--color-icon-inactive:		#1560bd; 	/* Джинсовый синий */
	--color-icon-close: 		#b6000c; 	/*красный*/	
	--color-button-edit:		#38ae1f;   	/*зеленый -светлее*/
	--color-button-no-edit:		#77dd77;   	/*зеленый --светлее*/
	--color-button-eye:			#cd5700; 	/* красно-буро-оранжевый*/
 
	--color-menu-title1-1: 		#de710d;	/*медный насыщеней*/
	--color-menu-title1-2: 		#B87333; 	/*медный*/
	--color-menu-title2-1: 		#542231; 	/*пурпурно-фиолетовый*/
	--color-menu-title2-2:		#703748;	/*пурпурно-фиолетовый ярче*/
	
	--color-menu-nav-left1:	 	#2E274F; 	/*синий*/
	--color-menu-nav-left2:		#AC9E3A;	/*официальный золотой темный*/
}
/*-------------------------------------- 	ПЕРСОНА ----------------------------------------------*/